.card__heading {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  max-width: 280px;
  width: 100%;
  margin: 14px auto 9px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(160, 160, 160, 1);
  margin: 0 auto 14px 14px;
}

.card__img {
  width: 100%;
}

.card {
  max-width: 364px;
  max-height: 271px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(253, 253, 253, 1);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* rgba(43, 224, 128, 1); */
/* rgba(249, 249, 249, 1) */
.card__saveBtn {
  background-color: rgba(249, 249, 249, 1);
  background-image: url(../../images/saveFilm.svg);
  height: 30px;
  width: 30px;
  margin: 0 14px 0 0;
  border: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: color #000;
  cursor: pointer;
}

.card__saveBtn_active {
  background-color: rgba(43, 224, 128, 1);
  background-image: url(../../images/saveFilm.svg);
  height: 30px;
  width: 30px;
  margin: 0 14px 0 0;
  border: 0;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: color #000;
  cursor: pointer;
}

.card__text {
  
  display: flex;
  flex-direction: column;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
