.popup {
  position: absolute;
  display: flex;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0.3s linear;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  position: fixed;
}

.popup__save-button {
  width: 358px;
  height: 50px;
  padding: 0;
  margin: 48px 36px 37px 36px;
  background-color: black;
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__save-button:hover {
  opacity: 0.8;
}

.popup__close-button {
  width: 32px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  right: -40px;
  top: -40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/closeBtn.svg);
  border: 0;
  background-color: transparent;
  transition: opacity 0.3s ease;
  background-size: cover;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__container {
  background-color: white;
  width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 660px) {
  .popup__save-button {
    margin: 45px 22px 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 650px) {
  .popup__container {
    width: 282px;
  }
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: -1px;
  }
}
