.header {
  display: flex;
  justify-content: space-between;
  max-height: 74px;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 18px 70px 21px 70px;
  box-sizing: border-box;
}

.header__logo {
  margin-right: 30px;
}

@media screen and (max-width:360px) {
  .header {
    padding: 18px 70px 21px 35px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding: 18px 14px 18px 14px;
  }
  .header__logo {
    margin: 0;
  }
}
