.filter {
  max-height: 40px;
  display: flex;
  align-items: center;
  border-left: 1px solid;
  /* border-color: rgba(232, 232, 232, 1); */
  border-color: #000;
}

.filter__checkbox {
  width: 36px;
  height: 30px;
  background-image: url(../../images/filterBtnActive.svg);
  margin: 0 14px 0 29px;
  border: 0;
  border-color: transparent;
  background-color: transparent;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  padding: 0;
  cursor: pointer;
}

.filter__name {
  margin-right: 30px;
}
