.auth {
  max-width: 396px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.auth__heading {
  margin: 40px 0 40px;
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.auth__form {
  max-width: 396px;
  width: 100%;
}

.auth__input-name {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  padding: 24px 0 5px 0;
  color: rgba(160, 160, 160, 1);
  margin: 0;
}
.auth__input-name:first-of-type {
  padding-top: 0;
}

.auth__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  outline: none;
  padding: 5px 0 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.auth__submitBtn {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  background-color: rgba(43, 224, 128, 1);
  margin-top: 152px;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.auth__submitBtn:hover {
  opacity: 0.7;
}

.auth__submitBtn_login {
  margin-top: 221px;
}

.auth__redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0 0;
  width: 100%;
}

.auth__redirect-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: rgba(160, 160, 160, 1);
  padding: 0;
  margin: 0;
}

.auth__redirect-link {
  margin: 0 0 0 6px;
  color: rgba(43, 224, 128, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  padding: 0;
  text-decoration: none;
}
